/* RESET & BASE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.5;
    font-size: 62.5%;
    background-color: #d9d9d9;
}

/* Algemeen */
:root {
    --pink: #D900D1;
    --black: #000000;
    --grey-bg: #F5F5F5;
    --grey-placeholder: #D9D9D9;
    --grey-light: #EDEDED;
    --radius: 12px;
}

@font-face {
  font-family: 'heading_ma';
  src: url('../fonts/bold-ma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: sans-serif;
    background-color: #FFFFFF;
    color: #000;
    line-height: 1.6;
    min-height: 100dvh;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    min-height: 85dvh;
}

h1{
    font-family: heading_ma;
    font-size: 35px !important;
}

h2{
    font-size: 22px !important;
    font-family: heading_ma;
}

h3{
    font-size: 18px !important;
    font-family: heading_ma;
}

h4{
    font-size: 16px !important;
    font-family: heading_ma;
}

p{
    font-family: sans-serif !important;
    font-size: 15px !important;
}

@media screen and (max-width: 700px){
    h1{
        font-family: "Outfit", sans-serif;
        font-size: 30px;
    }

    h2{
        font-size: 20px;
        font-family: "Outfit", sans-serif;
    }

    h3{
        font-size: 15px;
        font-family: "Outfit", sans-serif;
    }

    p{
        font-size: 15px;
    }
}

@media screen and (max-width: 525px){
    h1{
        font-family: "Outfit", sans-serif;
        font-size: 25px;
    }

    h2{
        font-size: 17px;
        font-family: "Outfit", sans-serif;
    }

    h3{
        font-size: 15px;
        font-family: "Outfit", sans-serif;
    }

    p{
        font-size: 12px;
    }
}

/* Resets */
a,button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: inherit;
}

input {
    outline: none;
    color: inherit;
    font-family: inherit;
}

input[type="checkbox"] {
    cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

button{
    outline: none !important;
}
